body {
    background-color: rgb(223, 156, 69);
}

h3 {
    color: red;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

p {
    font-size: 10px;
}

@media (max-width: 780px) {
    .devourBtn {
        font-size: 80%;
    }
    .burger_name {
        font-size: 80%;
    }
}

@media (max-width: 435px) {
    .devourBtn {
        font-size: 60%;
    }
    .burger_name {
        font-size: 60%;
    }
}